<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_mensajeria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App Mensajería"
        android:theme="@style/Theme.AppMensajeria">

        <!-- Actividad Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad Lista de Chats -->
        <activity android:name=".ListaChatsActivity" />

    </application>

</manifest>

